<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tkm.room">

    <application
        android:name=".words.WordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackTest">

        <activity
            android:name=".words.NewWordActivity"
            android:exported="false" />

        <activity
            android:name=".words.WordListActivity"
            android:exported="false" />

        <activity
            android:name=".basic.MainActivity"
            android:exported="false" />

        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>